{% extends "modals/modal.tpl.twig" %}

{% block content %}
    <form action="#" method="post" id="form_{{ modal.id }}" class="modal-form">
        <input type="hidden" name="_METHOD" value="PUT">

        <div class="modal-errors"></div>
        <div>
            <label for="chargeEditQuantity">Quantité:</label>
            <div>
                <input type="text" id="chargeEditQuantity" name="quantity" maxlength="3" placeholder="Saisir quantité"
                       style="width: 120px; margin-right: 8px; display: inline-block;">
                <span>pièces</span>
            </div>
        </div>
        <div>
            <label for="chargeEditDepot">Provenance:</label>
            <div>
                <select name="depot_id" id="chargeEditDepot" style="width: 100%; display: block;">
                    <option value="0" selected disabled>Sélectionnez un dépôt</option>
                    {% for depot in depots %}
                        <option value="{{ depot.id }}">{{ depot }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div>
            <label for="chargeEditIlot">Îlot:</label>
            <div>
                <select name="ilot_id" id="chargeEditIlot" style="width: 100%; display: block;">
                    <option value="0" selected disabled>Sélectionnez un îlot</option>
                    {% for depot in depots %}
                        {% if ilotsByDepots[depot.id] %}
                            <optgroup label="{{ depot }}">
                                {% for ilot in ilotsByDepots[depot.id] %}
                                    <option value="{{ ilot.id }}">{{ ilot }}</option>
                                {% endfor %}
                            </optgroup>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div>
            <label for="chargeEditQuantityAt">Date de traitement:</label>
            <div>
                <input type="text" id="chargeEditQuantityAt" name="processing_at" class="datepicker">
            </div>
        </div>
    </form>
{% endblock content %}