{% extends "layout.tpl.twig" %}
{% block title %}Liste des commandes{% endblock title %}


{% block content %}
    <div class="theme-col-wide">
        <div class="tkmf_block-text">
            <h2 class="headline-empty">Filtrer les commandes</h2>
        </div>
        <div class="tkmf_block-text">
            <div id="builder" data-href="{{ path_for('commandes.index') }}" data-rules="{{ builder_rules }}" data-values="{{ builder_values|json_encode }}"></div>
            <button type="button" id="btn-builder">Filtrer les commandes</button>
            {{ commande }}
            {{ dump(builder_rules) }}
        </div>

        {% block commandes_content %}
        {% endblock commandes_content %}
    </div>

    <div class="theme-col-small">
        <div class="tkmf_block-empty">
            <a href="{{ path_for('gestionnaires.index') }}" class="button1 tkmf_btn-block">Saisir une nouvelle commande</a>
        </div>

        <div class="tkmf_block-empty">
            <a href="{{ path_for('commandes.excel') }}" class="button1 tkmf_btn-block">Extraire l'historique</a>
        </div>

        <div class="tkmf_block-text">
            <b>Commandes enregistrées</b>: {{ commandes|length }}
        </div>
    </div>
{% endblock content %}

{% block css %}
    <link rel="stylesheet" href="js/lib/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="js/lib/jquery-ui/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="js/lib/jqbuilder/jqbuilder.min.css">
{% endblock css %}

{% block script %}
    {{ parent() }}
    <script type="application/javascript" src="js/lib/extendext.min.js"></script>
    <script type="application/javascript" src="js/lib/doT.min.js"></script>
    <script type="application/javascript" src="js/lib/jqbuilder/jqbuilder.min.js"></script>
    <script type="application/javascript" src="js/app/commandes.js"></script>
{% endblock script %}